{% extends "./base.html" %}
{% load static %}

{% block body %}

<section class="section section-xl bg-default">
    <div class="container text-start">
        <h4>Расходная накладная №000000 от 28.04.2024</h4>
        <hr>
        <div class="offset-top-10">
            <h6>
                Поставшик:
            </h6>
        </div>
        <div class="offset-top-30">
            <table class="table table-custom table-fixed bordered-table text-center" data-responsive="true">
                <tr>
                    <th width="50px">№</th>
                    <th>Nomi</th>
                    <th width="180px">Narxi</th>
                    <th width="180px">Soni(korobka)</th>
                    <th width="180px">Korobkadagi soni</th>
                    <th>Summa</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

{% endblock %}