{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block body %}

    <div class=" text-start">
        <h4>№ {{order.id}} </h4>
        <h4>Sana {{ order.created_date }}</h4>
        <hr>
        <div class="offset-top-10">
            <h6>
                NURJON ALLAYOR XUSUSIY KORXONASI +998 97 451 66 60
            </h6>
        </div>
        <div class="offset-top-30">
            
            <table class="table table-custom table-fixed bordered-table text-center" data-responsive="true">
                <tr>
                    <th width="30px">№</th>
                    <th width="25%">Nomi</th>
                    <th >Narxi</th>
                    <th >Soni (korobka)</th>
                    <th >Korobkadagi soni</th>
                    <th width="15%">Summa</th>
                </tr>
                {% for product  in products %}
                    <tr height="10px">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.price|intcomma }} so'm</td>
                        <td width="170px">{{ product.count }}</td>
                        <td width="170px">{{ product.product.case }}</td>
                        <td>{{ product.cash|intcomma }}so'm</td>
                    </tr>
                {% endfor %}
                
            </table>
            <b>Jami: {{ total_sum|intcomma }} so'm</b>
        </div>
{% endblock %}