{% extends "./base.html" %}
{% load static %}

{% block body %}

    <div class=" text-start">
        <h4>Расходная накладная №000000 от 28.04.2024</h4>
        <hr>
        <div class="offset-top-10">
            <h6>
                Поставшик:
            </h6>
        </div>
        <div class="offset-top-30">
            
            <table class="table table-custom table-fixed bordered-table text-center" data-responsive="true">
                <tr>
                    <th width="50px">№</th>
                    <th>Nomi</th>
                    <th >Narxi</th>
                    <th >Soni(korobka)</th>
                    <th >Korobkadagi soni</th>
                    <th>Summa</th>
                </tr>
                <tr height="10px">
                    <td >1</td>
                    <td>sgsfg</td>
                    <td>sgsgf</td>
                    <td>fssd</td>
                    <td>sdfsd</td>
                    <td>20000000</td>
                    
                </tr>
            </table>
        </div>

{% endblock %}