{% extends "./base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
  {% include "./header1.html" %}
  <div class="page text-center">
    <!-- Hover Rows Table-->
    <section class="section section-xl bg-gray-light">
      <div class="container">
        <h2 class="fw-bold">Ombor qoldig'i</h2>
        <hr class="divider bg-madison">
        <div class="offset-top-60">
          <div class="table-responsive clearfix">
            <table class="table-dark-blue table-custom table table-custom-wrap">
              <tbody>
                <tr>
                  <th></th>
                  <th>Mahsulot nomlari</th>
                  <th>Narxi</th>
                  <th>Soni</th>
                  <th>Summa</th>
                </tr>
                {% for product in products %}
                  <tr>
                    <td class="text-center p">{{ forloop.counter }}</td>
                    <td><a class="link-primary" href="single-product.html">{{ product.name }}</a></td>
                    <td>{{ product.price|intcomma }} so'm</td>
                    <td>{{ product.count|intcomma }} ({{ product.case }})</td>
                    <td class="fw-bold text-black">{{ product.total_price|intcomma }} sо'm</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="offset-top-30 clearfix">
          <p class="float-end inset-xl-right-70">Jami:<span class="h4 inset-left-20">{{ summa|intcomma }} so'm</span></p>
          <p class="float-end inset-xl-right-70">Jami soni:<span class="h4 inset-left-20">{{ count|intcomma }}</span></p>
        </div>
        
      </div>
    </section>
  </div>
  <!-- Corporate footer-->

<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}